@model StoreDemo.ViewModels.ProductsWithClientContactViewModel

@{
    ViewBag.Title = "Summary";
    Layout = "~/Views/Shared/_LayoutView.cshtml";
}

<h2>Summary</h2>

@Html.DisplayForModel()



@using (Html.BeginForm("Confirmation", "Cart"))
{
    <input type="submit" value="Zapłać"/>
}
<br/>
@Html.ActionLink("Kontynuuj zakupy", "Index", "Home")