
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutView.cshtml";
}

<h2>Index</h2>

10 najpopularniejszych produktów

<br/>
<br/>

<span>@Html.ActionLink("Departments", "Departments")</span>