@model StoreDemo.ViewModels.ProductsWithCategoryAndDepartmantViewModel

@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_LayoutView.cshtml";
}

<span>@Model.DepartmentName - @Model.CategoryName</span>

<ul style="list-style-type: none">
    @foreach (var item in Model.ProductsWithIds)
    {
        <li>@Html.ActionLink(item.Name, "ProductDetails", new { id = item.Id })</li>
    }
</ul>

